

@media (min-width: 840px){


.grid_2-1{
display: grid;
grid-template-columns: 2fr 1fr;
gap: 20px;
}

.grid_1-1{
display: grid;
grid-template-columns: 1fr 1fr;
gap: 20px;
}

.order-1{
  order: -1;
}


.grid_5-3 {
 display: grid;
 grid-template-columns: 2fr 1fr;
 gap:20px;
}

.grid_2-3{
display: grid;
grid-template-columns: 1fr 2fr;
gap: 20px;

}

.grid_3-2{
display: grid;
grid-template-columns: 1fr 2fr;
gap: 20px;
}

.order{
    order: 2;
}


.grid_1-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}


/*************** desktop galleri *********************/

 .grid_1-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
  }
  .grid_1-1-1-1 img {
   object-fit: cover;
   align-self: stretch;

  }
  .grid_1-1-1-1 img.stor1 {
    grid-column: span 2;
    grid-row: span 2;
  }

  .grid_1-1-1-1 img.mellemlang2 {
    grid-column: span 2;
    grid-row: span 1;
  }
  .grid_1-1-1-1 img.langsidst3 {
    grid-column: span 3;
    grid-row: span 1;
  }

}

/*************** mobilsite galleri *********************/
@media(max-width: 840px){
.grid_1-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.grid_1-1-1-1 img.stor1 {
    grid-column: span 2;
  }
 .grid_1-1-1-1 img.mellemlang2 {
    grid-column: span 2;
  }
.grid_1-1-1-1 img.langsidst3 {
    grid-column: span 2;
  }

.kvadrat{
 grid-column: span 2;
}
}

/*************** komponenter *********************/

.grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    align-items: stretch;
}

.flex_col {
  display: flex;
  flex-direction: column;
}

.flex_col > :last-child {
  margin-top: auto;
}


@media (max-width: 768px) {

  .grid_1-1-1{

    grid-template-columns: 1fr;
  }
}







